#propiedades{
    display: block;
    width: 500px;
    margin: 50px auto;
    padding: 15px;
    text-align: center;
    border: 1px solid #999999;
    background: rgb(16, 175, 18, 0.1) 5px 5px 10px;;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;

    box-shadow: rgb(16, 175, 18) 5px 5px 10px;

    background: linear-gradient(top, #FFFFFF, #999999);
    background: -webkit-radial-gradient(top, #FFFFFF, #999999);
    background: -moz-linear-gradient(top, #FFFFFF, #999999);

    /* -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1); */

    /* -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg); */

    /* -moz-transform: skewX(30deg);
    -webkit-transform: skewX(30deg);
    -webkit-transform: skewY(30deg); */

    -moz-transition: -moz-transform 10s ease-in-out 10s;
    -webkit-transition: -webkit-transform 10s ease-in-out 10s;


}

#propTitulo{
    font-family: 'Roboto', sans-serif;
    font: bold 36px;
    text-shadow: rgb(0 , 0, 150) 3px 3px 5px;
}